
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    margin: 1px;
}

h1 {
    font-size: 28px;
}
.content {
    background-color: #fff;
    padding: 20px;
    margin:auto;
    margin-top: 15px;
    width: 800px;
    height: 220px;
    border: 1px solid #ccc;
}

h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

li {
    margin-bottom: 10px;
}

ul { 
    list-style-type: none; 
}
